/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
5532/2018/09/28/plane\.png

\.vscode/launch\.json

run server\.txt

\.DS_Store

src/main/resources/public/\._\.DS_Store

*.DS_Store

src/main/resources/public/

*.log

pap_server.p12

pap_server.pem

pap_server_backup.jks

pap_server_key.pem

Sockets-0.0.1-SNAPSHOT.jar
